[Desktop Entry]
Type=Application
Name=blink
Comment=Background screenshot daemon
Exec=blink
Icon=camera-photo
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
